/* Css cho header */
html {
  font-size: 62.5%; /* 1 rem = 10px */
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #e9e9e9;
  font-size: 1.6rem; /* cơ chữ mặc định là 16px */
}

.header_title {
  position: relative;
  top: 0px;
  height: 80px;
  width: 100%;
  background-color: #a0153e;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header_title__item {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.list1:first-child {
  margin-left: 50px;
}
#NamHoc {
  width: fit-content;
  height: 30px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto";
  border-radius: 8px;
}

#NamHoc option {
  font-family: "Roboto";
  font-size: 14px;
  width: fit-content;
}

#KiHoc {
  width: fit-content;
  height: 30px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto";
  border-radius: 8px;
}

#KiHoc option {
  font-family: "Roboto";
  font-size: 14px;
  width: fit-content;
  padding: 80px;
}

#logo_truong {
  height: 75px;
  width: 85px;
}
.notifications-icon {
  color: white;
}
.list1 {
  display: flex;
  align-items: center;
}

.list2:last-child {
  margin-right: 60px;
}
.list2 {
  display: flex;
  align-items: center;
}

.tenhethong {
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.tentruong {
  color: #fdffa4;
  font-size: 18px;
}

#avatar_image {
  border-radius: 100px;
  height: 54px;
  width: 54px;
}
/* Hết css cho header  */
