html {
  font-size: 62.5%; /* 1 rem = 10px */
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #e9e9e9;
  font-size: 1.6rem; /* cơ chữ mặc định là 16px */
}

.header {
  width: 100%;
}

.header_title {
  position: relative;
  top: 0px;
  height: 100px;
  width: 100%;
  background-color: #a0153e;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  flex-wrap: nowrap;
}

.header_title__item {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.list1:first-child {
  margin-left: 50px;
}

#logo_truong {
  height: 100px;
  width: 100px;
}

.list1 {
  display: flex;
  align-items: center;
}

.list2:last-child {
  margin-right: 50px;
}
.list2 {
  display: flex;
  align-items: center;
}

.tenhethong {
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.tentruong {
  color: #fdffa4;
  font-size: 18px;
}

.icon {
  color: white;
}

#dropdownHocKyButton {
  font-weight: 550;
}

#dropdownNamHocButton {
  font-weight: 550;
}

#avatar_image {
  border-radius: 20px;
}

.nav_bar {
  position: relative;
  top: 0px;
  background-color: white;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav_tree {
  position: absolute;
  left: 100px;
}

.dieuhuong {
  color: white;
  font-size: 12px;
  font-weight: 600;
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  color: #a0153e;
}

.dieuhuong:last-child {
  color: black;
}

.icon_dieu_huong {
  color: black;
}
/* Hết css cho header  */
