.main {
  max-width: 1980px;
  margin: 0 auto;
  margin-top: 130px;
  padding: 10px;
  display: flex;
}

.menu {
  width: 30%;
  background-color: #ffffff;
  border: 1px solid grey;
  border-radius: 10px;
}

.account {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.account-name {
  font-weight: 500;
}

.greeting {
  font-weight: 300;
  font-style: italic;
  font-size: 12px;
}

.menu-items {
  padding: 0px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.menu-items hr {
  margin: 5px 0px;
}

.menu-items li {
  list-style: none;
}

.menu-items li a {
  height: 50px;
  padding: 0px 15px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  position: relative;
}

.logout {
  color: #a0153e;
}

.menu-items li a:hover {
  border-radius: 8px;
  background-color: #a0153e;
  color: white;
}

.menu-items li a:hover p {
  color: white;
}

.material-symbols-outlined {
  height: auto;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.submenu-qldt-icon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submenu-qldt {
  padding: 0px 20px;
  display: none;
}

.submenu-qldt li a:hover {
  color: #a0153e;
  background-color: #ffffff;
}
