* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
}
#wrapper {
  width: 600px;
  height: 400px;
}
.material-symbols-outlined {
  font-size: 20px;
  vertical-align: middle;
}
span {
  margin: 4px;
}
button {
  width: 130px;
  height: 48px;
  cursor: pointer;
  padding: 10px 10px;
  border: 0;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  color: #ffff;
  background: #a0153e;
  transition: transform 0.3s ease;
  overflow: hidden;
}
.popup-container{ 
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
}
.popup-container.active {
  opacity: 1;
  pointer-events: auto;
  transition: 0.4s ease;
}
.popup-container.active-record {
  opacity: 1;
  pointer-events: auto;
  transition: 0.4s ease;
}
.popup-tiet-hoc {
  width: 304px;
  height: 247px;
  background: #ffff;
  border-radius: 8px;
  padding: 20px 20px;
  margin: 48px 0 0 0;
}
.popup-tiet-hoc .popup-header .contacts-icon {
  font-size: 16px;
}
.popup-tiet-hoc .popup-body {
  margin-top: 4px;
}
.popup-tiet-hoc h1 {
  font-size: 18px;
  font-weight: 600;
}
.popup-tiet-hoc p {
  font-size: 14px;
  font-weight: 400;
}
.popup-tiet-hoc .popup-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.popup-tiet-hoc .btn-record {
  background: #21971e;
}
.popup-ghi-so {
  width: 800px;
  height: fit-content;
  background: #ffff;
  border-radius: 8px;
  padding: 60px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup-ghi-so .name {
  width: 100%;
  display: flex;
  align-items: center;
}
.popup-ghi-so .popup-header {
  margin: 0, 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-ghi-so .popup-header h1 {
  font-size: 32px;
  font-weight: 600;
  padding: 15px 0;
}
.popup-ghi-so .cancel-icon {
  font-size: 40px;
  cursor: pointer;
  color: #a0153e;
}
.popup-ghi-so .popup-body {
  margin-bottom: 20px;
  padding: 10px 10px;
  border-radius: 8px;
  border: 1px solid #6F7979;
}
.popup-ghi-so h2 {
  width: 244px;
  padding: 10px 10px;
  align-items: center;
  font-size: 16px;
}
.popup-ghi-so span {
  width: 244px;
  font-size: 16px;
  font-weight: 300;
  align-items: center;
  display: inline-block;
  justify-content: space-between;
}
.quality {
  margin: 0 0;
}
.quality input {
  width: 60px;
  height: 30px;
  text-align: center;
  border: 1px solid #6F7979;
  border-radius: 8px;
  font-size: 16px;
}
input {
  width: 414px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #6F7979;
  padding: 10px 10px; 
  resize: none;
  overflow: auto; 
  font-size: 16px;
  font-weight: 400;
}
.popup-ghi-so .popup-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
.btn-cancel {
  margin-right: 20px;
  border: 1px solid #a0153e;
  color: #a0153e;
  background: #ffff;
}
button:hover {
  transform: scale(1.05);
  font-size: 16px;
  transform-origin: center center;
}

