* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
}
#wrapper {
  width: 100vw;
  height: 100vh;
}

button {
  width: 130px;
  height: 48px;
  cursor: pointer;
  padding: 10px 10px;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  color: #ffff;
  background: #a0153e;
  transition: transform 0.3s ease;
  overflow: hidden;
}
.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  
}
.popup-container.active {
  opacity: 1;
  pointer-events: auto;
  transition: 0.4s ease;
}
.popup-dayBu {
  width: 1444px;
  height: 1071px;
  background: #ffff;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px;
  
}
.popup-dayBu .popup-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.popup-dayBu .cancel-icon {
  font-size: 40px;
  cursor: pointer;
  color: #a0153e;
}
.popup-dayBu .popup-header h1 {
  font-size: 32px;
  font-weight: 600;
}
.popup-dayBu .popup-body {
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #6F7979;
  padding: 24px;
  margin-bottom: 40px;
  padding: 24px;
}
.popup-dayBu h2 {
  padding: 10px 10px;
  align-items: center;
  font-size: 22px;
}
#comment {
  width: 1256px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #6F7979;
  padding: 10px 10px; 
  resize: none;
  overflow: auto; 
  font-size: 22px;
  font-weight: 400;
  margin-left: 10px;
}
.class-subject {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.list{
  width: 362px;
  height: 50px;
}
#class {
  width: 362px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #6F7979;
  font-size: 22px;
  font-weight: 400;
  padding: 0 10px;
  margin-left: 10px;
}
#date {
  width: 362px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #6F7979;
  font-size: 22px;
  font-weight: 400;
  padding: 0 10px;
  margin-left: 83px;
}
#lesson {
  width: 362px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #6F7979;
  padding: 10px 10px; 
  resize: none;
  overflow: auto; 
  font-size: 22px;
  font-weight: 400;
}
.lesson-date {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.popup-dayBu .popup-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;

}
.btn-cancel {
  margin-right: 20px;
  border: 1px solid #a0153e;
  color: #a0153e;
  background: #ffff;
}
button:hover {
  transform: scale(1.05);
  font-size: 16px;
  transform-origin: center center;
}
.item-list {
  padding-bottom: 20px;
}
