/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  font-size: 1.6rem;
}

/* Khi bạn thêm class clearfix vào một phần tử cha, phần tử cha không tự động điều chỉnh chiều cao 
của mình để chứa các phần tử con */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.footer {
  max-width: 1320px;
  height: 30rem;
  margin: 0 auto;
}

.content {
  height: 80%;
  padding: 5px;
  margin: 0 auto;
}

.text1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 23px;
  padding: 20px 0px 10px 0px;
  background-color: #a0153e;
  color: #ffffff;
}

.text2 {
  text-align: center;
  background-color: #a0153e;
  color: #ffffff;
  padding: 0px 0px 30px 0px;
}

.team {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #710021;
  color: #ffffff;
  padding: 10px 0px;
}
