<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1" />
    <title>Kiểm duyệt dạy bù</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,1,0"
    />
    <link rel="stylesheet" href="../../CSS/popup_KiemDuyetDayBu.css" />
    <script defer src="../../javascript/popup_KiemDuyetDayBu.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <button class="btn-open">Select</button>
      <!-- Popup -->
      <div class="popup-container">
        <div class="popup">
          <div class="popup-header">
            <h1>Duyệt kế hoạch dạy bù</h1>
            <span class="material-symbols-outlined cancel-icon">cancel</span>
          </div>
          <div class="popup-body">
            <h2>Thứ 7, ngày 4/5/2024, Buổi sáng, Tiết 1 (7:00 - 7:45)</h2>
            <h2>Loại kế hoạch: <span class="plan-type">Dạy bù</span></h2>
            <h2>Môn học: <span class="subject-name">Toán học</span></h2>
            <h2>Lớp: <span class="class-name">11a1</span></h2>
            <h2>Giáo viên: <span class="teacher-name">Nguyễn Văn A</span></h2>
            <h2>Tuần, tiết theo PPCT: <span class="ppct">Tuần 10, tiết 45</span></h2>
            <h2>Nội dung bài học: <span class="content">Tích phân ứng dụng</span></h2>
            <h2>Chú thích/Lí do: <span class="comment">Nghỉ lễ 30/4</span></h2>
          </div>
          <div class="popup-footer">
            <button class="btn-cancel">Huỷ</button>
            <button class="btn-accept">Duyệt</button>
            <button class="btn-reject">Từ chối</button>
          </div>
        </div>
      </div>
      <!-- End Popup -->
    </div>
  </body>
</html>
