<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- link googole fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- link google material -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    <!-- link icon -->
    <script
      src="https://kit.fontawesome.com/b2fc9cc4db.js"
      crossorigin="anonymous"
    ></script>

    <!-- reset css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />

    <!-- css -->
    <link rel="stylesheet" href="/CSS/popup_baocaochatluong.css" />
  </head>
  <body>
    <div class="wrapper">
      <button class="btn-bccl">Báo cáo chất lượng</button>
      <!-- Popup -->
      <div class="popup-container">
        <div class="popup-bccl">
          <div class="popup-header">
            <h1>Báo cáo chất lượng</h1>
            <span class="material-symbols-outlined cancel-icon">cancel</span>
          </div>

          <div class="popup-body">
            <div class="chart">
              <img src="./images/chart_bccl.png" alt="hình ảnh" />
            </div>
            <table>
              <tr>
                <th style="width: 93px">Thứ hạng</th>
                <th style="width: 117px">Lớp</th>
                <th style="width: 132px">Tổng điểm</th>
                <th style="width: 177px">Xếp hạng</th>
              </tr>
              <tr>
                <td>1</td>
                <td>11A1</td>
                <td>100</td>
                <td>1</td>
              </tr>
              <tr>
                <td>2</td>
                <td>11A2</td>
                <td>99</td>
                <td>2</td>
              </tr>
              <tr>
                <td>3</td>
                <td>11A3</td>
                <td>98</td>
                <td>3</td>
              </tr>
              <tr>
                <td>4</td>
                <td>11A4</td>
                <td>97</td>
                <td>4</td>
              </tr>
              <tr>
                <td>5</td>
                <td>11A5</td>
                <td>95</td>
                <td>5</td>
              </tr>
              <tr>
                <td>6</td>
                <td>10A1</td>
                <td>93</td>
                <td>6</td>
              </tr>
              <tr>
                <td>7</td>
                <td>10A5</td>
                <td>92</td>
                <td>7</td>
              </tr>
              <tr>
                <td>8</td>
                <td>10A2</td>
                <td>90</td>
                <td>8</td>
              </tr>
              <tr>
                <td>9</td>
                <td>10A3</td>
                <td>89</td>
                <td>9</td>
              </tr>
              <tr>
                <td>10</td>
                <td>12A3</td>
                <td>88</td>
                <td>10</td>
              </tr>
              <tr>
                <td>11</td>
                <td>12A2</td>
                <td>87</td>
                <td>11</td>
              </tr>
              <tr>
                <td>12</td>
                <td>12A4</td>
                <td>85</td>
                <td>12</td>
              </tr>
              <tr>
                <td>13</td>
                <td>12A5</td>
                <td>84</td>
                <td>13</td>
              </tr>
              <tr>
                <td>13</td>
                <td>12A1</td>
                <td>84</td>
                <td>14</td>
              </tr>
              <tr>
                <td>15</td>
                <td>10A4</td>
                <td>82</td>
                <td>15</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script src="/javascript/popup_baocaochatluong.js"></script>
  </body>
</html>
