<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- reset css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="../../CSS/aside_nav_avt.css" />
  </head>
  <body>
    <aside class="aside" id="aside">
      <div class="aside__profile">
        <div class="aside__avatar-container">
          <img
            src="../../images/avatar.png"
            alt="Avatar for teacher"
            class="aside__avatar"
          />
        </div>
        <div class="aside__info">
          <span class="aside__name">Tên giáo viên</span>
          <span class="aside__logan">Chúc ngày mới tốt lành!</span>
        </div>
      </div>
      <hr />
      <nav class="aside__nav">
        <ul class="aside__nav-container">
          <li>
            <a class="aside__nav-item" id="hoso" href="/view/suathongtin.html">Hồ sơ</a>
          </li>
          <li>
            <a class="aside__nav-item" id="doimatkhau" href="/view/doimatkhau.html"
              >Đổi mật khẩu</a
            >
          </li>
        </ul>
      </nav>
      <hr />
      <button class="aside__nav-item aside__nav-item--btn">
        <span>Đăng xuất</span>
      </button>
    </aside>
    <script src="../../javascript/aside_nav_avt.js"></script>
  </body>
</html>
