<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- reset css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="../../CSS/aside_nav.css" />
  </head>
  <body>
    <aside class="aside" id="aside">
      <div class="aside__profile">
        <div class="aside__avatar-container">
          <img
            src="../../images/avatar.png"
            alt="Avatar for teacher"
            class="aside__avatar"
          />
        </div>
        <div class="aside__info">
          <span class="aside__name">Tên giáo viên</span>
          <span class="aside__logan">Chúc ngày mới tốt lành!</span>
        </div>
      </div>
      <hr />
      <nav class="aside__nav">
        <ul class="aside__nav-container">
          <li>
            <a class="aside__nav-item" id="tongquan" href="/view/tongquan.html"
              >Tổng quan</a
            >
          </li>
          <li>
            <a
              class="aside__nav-item"
              id="thoikhoabieu"
              href="/view/thoikhoabieu.html"
              >Thời khóa biểu</a
            >
          </li>
          <li>
            <a
              class="aside__nav-item"
              id="kehoachgiangday"
              href="/view/kehoachgiangday.php"
              >Kế hoạch giảng dạy</a
            >
          </li>
          <li class="aside__nav-item-wrapper-downdrop">
            <label class="aside__nav-item" for="teaching-management">
              Quản lý giảng dạy
            </label>
            <input id="teaching-management" type="checkbox" />
            <span class="material-symbols-outlined on-uncheck"> stat_1 </span>
            <span class="material-symbols-outlined on-check">
              stat_minus_1
            </span>
            <ul class="aside__nav-item-dropdown">
              <li>
                <a
                  class="aside__nav-item"
                  id="kiemduyet"
                  href="/view/quanlidaotao_kiemduyet.php"
                  >Kiểm duyệt</a
                >
              </li>
              <li>
                <a
                  class="aside__nav-item"
                  id="sodaubai"
                  href="/view/quanlidaotao_sodaubai.html"
                  >Sổ đầu bài</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a class="aside__nav-item" id="game" href="/view/minigame.html"
              >Minigames</a
            >
          </li>
          <li>
            <a
              class="aside__nav-item"
              id="thongke"
              href="/view/Baocaothongke.html"
              >Báo cáo thống kê</a
            >
          </li>
        </ul>
      </nav>
      <hr />
      <a href="/view/login.php">
        <button class="aside__nav-item aside__nav-item--btn">
          <span style="text-decoration: unset">Đăng xuất</span>
        </button>
      </a>
    </aside>
    <script src="../../javascript/aside_nav.js"></script>
  </body>
</html>
