<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../CSS/footer.css" />
  </head>
  <body>
    <!-- FOOTER -->
    <footer class="footer clearfix">
      <div class="text1"><strong>PHÒNG ĐÀO TẠO</strong></div>
      <div class="text2">
        Phòng A102, Trường THPT Chuyên Nguyễn Chí Thanh<br />
        08 Lê Duẩn - P. Nghĩa Tân - TP. Gia Nghĩa - Tỉnh Đăk Nông <br />
        Điện thoại: 0261 3.505.495 <br />
        Email:
        <a
          href="phongdaotao@moet.edu.vn"
          target="_blank"
          style="text-decoration: none; color: #ffffff"
          >phongdaotao@moet.edu.vn</a
        >
      </div>
      <div class="team">
        Thiết kế và phát triển bởi
        <span style="color: #fdffa4">OderMeMe</span>
      </div>
    </footer>
  </body>
</html>
